.hero {
    background-color: #74C69D;
    color: white;
        
}

h4 {
    width: 113px;
    height: 20px;
    letter-spacing: 5px;
}

h1 {
    width: 416px;
    height: 100px;
}


.hero__inner {
    display: flex;
}

button {
    margin-top: 25px;
    border-radius: 5px;
    width: 170px;
    height: 48px;
    background: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    border: none;
    
}